/* ------------------------------ */
/* TYPOGRAPHY */

h1 {
    font-family: 'Cormorant Garamond', serif;
}

/* ------------------------------ */
/* TOP BAR AND NAVIGATION STYLING */

.top-bar, .top-bar-left, .top-bar-left ul, .top-bar-left ul li a {
    background-color: #6cae75;
    color: #ffffff; 
}

/* ------------------------------ */
/* SEARCHBAR STYLING */

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

  .callout.large {
      border: 0px;
  }


  /* ingredients-list dropdown table */


.table-expand {
  margin-top: 5rem;
  width: 75%;
  align-items: center !important;
}

.table-expand td {
  color: #8a8a8a;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-right {
  padding-right: 3rem;
}

.table-expand-row.is-active .expand-icon::after {
  content: '-';
}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

