/* ------------------------------ */
/* TYPOGRAPHY */

h1 {
    font-family: 'Cormorant Garamond', serif;
}

/* ------------------------------ */
/* TOP BAR AND NAVIGATION STYLING */

.top-bar, .top-bar-left, .top-bar-left ul, .top-bar-left ul li a {
    background-color: #6cae75;
    color: #ffffff; 
}

/* ------------------------------ */
/* SEARCHBAR STYLING */

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
  }
  
  .input-group-rounded .input-group-button .button {
    border-radius: 0 5000px 5000px 0;
    font-size: 0.8rem;
  }

  .callout.large {
      border: 0px;
  }

  /* ingredients-list dropdown table */


.table-expand {
  margin-top: 5rem;
  width: 75%;
  align-items: center !important;
}

.table-expand td {
  color: #8a8a8a;
}

.table-expand tr {
  border: 1px solid #e6e6e6;
}

.table-expand .text-right {
  padding-right: 3rem;
}

.table-expand-row.is-active .expand-icon::after {
  content: '-';
}

.table-expand-row .expand-icon::after {
  content: '+';
  float: right;
}

.table-expand-row-content {
  display: none;
}

.table-expand-row-content.is-active {
  display: table-row;
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.table-expand-row-nested {
  background-color: #e6e6e6;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  #addToListBtn{
    background-color: #384d48;
    padding: 10px;
    color: white;
    width: 75%;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
  }

  ul{
    list-style-type: none;
  }

/* ------------------------------ */
/* RECIPE CARD STYLING */

.recipe-card {
    background-color: #8bbd8b;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 75%;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  }
  
  .recipe-card-thumbnail {
    display: block;
    position: relative;
  }

  .recipe-card-thumbnail img {
    width: 50%;
    height: auto;
  }
  
  .recipe-name, .recipe-name a {
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .recipe-source {
    color: #000000;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
  }
  
  .product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
  }
  
  .recipe-card-footer-bar {
    display: block;
    text-align: right;
    margin-top: 2px;
    background-color: #ffffff;
  }
  
  .product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
  }

  /* Shopping-List Card Styling */
  table{
    margin-top: 20px;
    width: 75%;
    table-layout: center;
    border-color: white;
  }

  #ShoppingListHeader{
    background-color: #8bbd8b;
    color: #ffffff; 
  }

  form{
    width: 75%;
  }

  .strikethrough:checked + label {
    color:blue;
    text-decoration: line-through;
  }
  
  #addButton{
    background-color: #384d48;
    padding: 10px;
    color: white;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
  }

  #removePurchasedItemsBtn{
    background-color: #384d48;
    padding: 10px;
    color: white;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  